/*Utilities*/

*{
  margin: 0;
  box-sizing: border-box;
}

/*Stili TAG*/

body{
  background-image: url('../img/bg2_1920x1200.jpg');
  background-size: cover;
  background-color: #FFF;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 22px;
}

header{
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: 3px solid #ccc;
  margin-bottom: 2em;
  position: fixed;
}

main{
  padding: 120px;
}

footer{
  width: 100%;
  text-align: center;
  font-weight: 700;
  border-top: 3px solid #ccc;
  margin-top: 2em;
  background-color: #fff;
  position: fixed;
  bottom: 0;
}

/* Stili contenuto header */

.logo{
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

.gmail-title{
  display: inline-block;
  line-height: normal;
}

/* Stili conenuto email*/

#email-container{
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  padding: 1em;
  font-weight: 700;
  margin: auto;
}

#unread-count-badge{
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background-color: #FF6E6E;
  border-radius: 50%;
}

#interactive-bar{
  margin-bottom: 1em;
}

#bulk-action{
  display: inline-block;
  width: auto;
}

#search-bar{
  display: inline-block;
  margin-left: 40%;
}

/* Stili riga email*/

.email-row{
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  padding: 5px;
}

.read{
  font-weight: 400;
}

.email-row:active{
  font-weight: 400;
}

.email-row:hover{
  background-color: #CCC;
}

.priority{
  text-decoration: none;
  color: #FCBA03;
}

.priority:hover{
  color: #000;
}

.recipient{
  margin-left: 1em;
  display: inline-block;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title{
  margin-left: 2em;
  display: inline-block;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title::before{
  content: ' - ';
}

.elipse{
  margin-left: 2em;
  display: inline-block;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.elipse::before{
  content: ' - ';
}
